/*----- Propiedades generales -----*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container-fluid{
	padding: 0;
	margin: 0;
}


a {
	text-decoration: none;
}

li {
	list-style-type: none;
	text-align: center;
}

.body-index {
	display: flex;
	flex-direction: column;	
	padding: 0;
	margin: 0;
}


/*----- Media Query Body Index -----*/
@media screen and (min-width: 1024px){
	.body-index{
		background-size: contain;
	}

}


/*----- Header y nav -----*/
header {
	display: flex;
	flex-direction: column-reverse;
	width: 100vw;
	background: linear-gradient(to right, #000000, #434343);
	justify-content: center;
	align-items: flex-end;
	text-align: center;
	padding: 0;
}

.h1-header {
	font-family: 'Stardos Stencil', cursive;
	font-size: 2rem;
	color: #DFA72D;
	align-self: center;
	margin: 0;			
	animation-name: brillo;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes brillo {
	from{
		text-shadow: 0 0 10px #ffff;
	} 
	to {
		text-shadow: 0 0 40px #ffff;
	}		
}

.navbar {
	padding: 0;
	background-color: #2c150900;
}

.navbar a{
	color: #DFA72D;
	
}

.navbar .active{
	padding: 0 5px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: #493405d0;
	position: relative;
	z-index: 10;
}

.navbar .active::after{
	position: absolute;
	top: 0px;
	left: 0px;
	content: ' ';
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #fc4a1a, #f7b733);
	filter: blur(15px);
	z-index: 5;
}

.nav-link{
	padding: 0;
}
.navbar-nav .nav-link.active{
	color: #fff;
}

/*----- Media Query Header y nav -----*/

@media screen and (min-width: 768px) {
	
	.h1-header {
		font-size: 2.5rem;
		align-self: flex-start;
		margin-left: 5%;
	}

	.ul-nav li {
		font-size: 1rem;
	}
}

@media screen and (min-width: 1024px) {
	/*header {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: flex-end;
	}*/

	.h1-header {
		font-size: 3.2rem;
	}


	/*
	.nav-header {
		width: auto;
		margin-bottom: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;

	}

	.ul-nav li {
		display: inline;
		font-family: 'Aldrich', sans-serif;
		font-size: 1rem;
		padding: .5rem;
		margin: 0 1rem;
	}*/
}

/*----- Estilos pagina Index -----*/

/*----- Section y articles -----*/

.main-index{
	background: linear-gradient(to bottom, #beac4f, #333333);
	background-size: cover;
	background-attachment: fixed;
}

.section-index {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.h2-section {
	color: #680909;
	font-family: 'Stick No Bills', sans-serif;
	font-size: 2.2rem;
	text-align: center;
	margin: 1rem;
	text-shadow: 2px -2px 5px #f1db0c;
	transition-property: text-shadow;
	transition-duration: 1s;
	transition-delay: .5s;
}

 .h2-section:hover{
	text-shadow: 10px -10px 5px #f1db0c;
 }

.h3-article {
	color: #f1db0c;
	font-size: 1.8rem;
	text-align: center;
	margin: 1rem 0;
}
.row{
	justify-content: center;
	align-items: flex-start;
	
}
.col-12{
	display: flex;
	justify-content: center;
	align-items: center;
}

.col-12 p{
	margin-top: 1rem;
	padding: 0 .8rem;
}

.row img{
	width: 300px;
	box-shadow: 5px 5px 10px;
	margin-top: .5rem;
}

/*----- Media Query Section y Articles -----*//*
@media screen and (min-width: 768px) {
	.h2-section {
		font-size: 2.2rem;
	}

	.h3-article {
		font-size: 2rem;
	}

	.div-article p {
		font-size: 1.2rem;
	}

	.div-article img {
		width: 500px;

	}

}*/

@media screen and (min-width: 1024px) {
	
	.col-12 p{
		margin-top: .8rem;
	}

	.row img{
		width: 400px;
		margin-top: 1rem;
	}

}

/*----- Seccion Videos -----*/

.videos-index {
	width: auto;
	height: auto;
	background-image: url(../fondos/mama-cachorro.png);
}
/*
.div-videos {
	display: flex;
	margin: .2rem;
}

.div-videos div {
	margin: .2rem;
}
*/
.h2-videos {
	font-family: 'Stick No Bills', sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
	color: #f0dd30;
}

.iframe {
	width: 300px;
	height: 168px;
}

/*----- Media Query Videos -----*/

@media screen and (min-width: 468px) {

	.h2-videos {
		font-size: 2rem;
	}

	.iframe {
		width: 400px;
		height: 225px;
	}
}

@media screen and (min-width: 768px) {

	.iframe {
		width: 560px;
		height: 315px;
	}
}

@media screen and (min-width: 468px) {

	.h2-videos {
		font-size: 2.5rem;
	}
}


/*----- Footer general -----*/

footer {
	font-family: 'Aldrich', sans-serif;
	font-size: 1rem;
	background: linear-gradient(to right, #000000, #434343);
}
/*
.div-contain-footer{
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	align-items: center;
	justify-content: center;
}

.div-footer{
	margin-top: 1rem;
	display: flex;	
	flex-direction: column;
	justify-content: center;
	text-align: center;	
}

.div-footer h5 {
	color: #f0dd30;
	font-size: 1.2rem;	
}

.ul-footer{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
*/
.ul-footer a{
	color: #d8d3b8;
}

.ul-footer li{
	color: #d8d3b8;	
}

.fa-instagram{
	margin-right: .2rem;
	color: #da1657;
}
.fa-facebook{
	margin-right: .2rem;
	color: #1375e6;
}
.fa-whatsapp{
	color: #0cc734;
	margin-right: .2rem;
}

.fa-solid{
	margin-right: .2rem;
	color: #557da3;
}

/*----- Media Query Footer -----*/

/*--- Se realiza Media Query a partir de los 680px y aplica para 768px y 1024px---*/
/*
@media screen and (min-width: 680px){
	.div-contain-footer{
		display: flex;
		flex-direction: row;
		margin-bottom: 1rem;
		align-items: center;
		justify-content: space-evenly;
	}

}


/*----- Final de Footer gral -----*/

/*----- Estilos pagina de Contacto -----*/
.contact-body {
	background-image: url(../fondos/pb-marron.png);
	background-size: cover;
	background-position: center;
		
}

.contact-main {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	justify-content: center;
	align-items: center;
	
}

.contact-form input {
	background-color: #33140557;
	border: none;
	color: #e4d5d5;
	font-family: 'Mohave', sans-serif;
	font-size: 1rem;
}

.contact-form textarea {
	background-color: #33140557;
	font-family: 'Mohave', sans-serif;
	color: #e4d5d5;
	font-size: 1rem;
	margin: .5rem;
}

.contact-form label {
	color: #701205;
	font-family: 'Stick No Bills', sans-serif;
	font-weight: 700;
	font-size: 1.1rem;
}

.contact-form .boton-form {
	background-color: #c00b0bb4;
	padding: 0 .5rem;
	border-radius: 5px;
}

::placeholder {
	color: #1f1b19;
	font-size: 1rem;
}

/*----- Media Query pagina Contacto -----*/
/*--- No se hace Media Query para 768px xq se ve perfecto con las propiedades originales---*/

@media screen and (min-width: 1024px){
	.contact-body{
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}	

	.contact-main{
		justify-content: center;
		align-items: flex-start;
		padding-left: 10vw;
	}
}

/*----- Final de Estilos pagina de Contacto -----*/

/*----- Estilos pagina Nosotros -----*/
.nosotros-body {
	background-image: url(../fondos/cachorro-blue.png);
	background-size: cover;
}

.nosotros-section {	
	/*display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;*/
	background-color: #2c15094b;
}

.nosotros-article {
	color:#e4d5d5;
	/*font-size: 1.2rem;
	font-weight: 500;
	text-align: center;
	padding: .5rem;*/
}

.nosotros-article p{
	/*font-size: 1.2rem;
	margin-top: 1rem;*/
}

.nosotros-article hr{
	width: 80%;			
	animation-name: width;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes width {
	from{
		width: 10%;
	} 
	to {
		width: 80%;
	}		
}	




/*----- Media Query pagina Nosotros -----*/
/*
@media screen and (min-width: 768px){
	
	.nosotros-article{
		font-size: 1.5rem;
		padding: 0 1rem;
	}
	
}

@media screen and (min-width: 1024px) {
	.nosotros-body{
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.nosotros-section {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 1rem 1rem;		
	}

	.nosotros-article{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 1.5rem;
		color:#e4d5d5		
	}

	.nosotros-article p{
		text-align: center;		
	}

}*/

/*----- Final de Estilos pagina Nosotros -----*/

/*----- Estilos pagina Accesorios -----*/
.accesorios-body {
	background-image: url(../fondos/huesos-green.png);
	background-size: contain;	
}

.contain-accesorios{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #44261757;
}

.contain-accesorios h2 {
	text-align: center;
	font-family: 'Stick No Bills', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	color: #7C330F;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.contain-accesorios img {
	width: 200px;
	height: 200px;
	border: solid 1px black;
}
.arnes-pecheras{
	display: grid;
	grid-template-columns: 250px;
	grid-template-rows: repeat(8, 370px);
}

.cadenas-collares{
	display: grid;
	grid-template-columns: 250px;
	grid-template-rows: repeat(5, 370px);
}

.bozales{
	display: grid;
	grid-template-columns: 250px;
	grid-template-rows: repeat(5, 370px);
}

.cadenas-sogas{
	display: grid;
	grid-template-columns: 250px;
	grid-template-rows: repeat(5, 370px);	
}

.pañuelos{
	display: grid;
	grid-template-columns: 250px;
	grid-template-rows: repeat(6, 370px);
	margin-bottom: 2rem;
}

.contain-accesorios article {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	text-align: center;
	border: 2px solid #000000;
	padding: .5rem;
	margin: .5rem 0;
}

.contain-accesorios article h3{
	font-family: 'Mohave', sans-serif;
	color: #eba91c;
	font-size: 1.2rem;
	padding: 1rem 0;
}

.contain-accesorios article p{
	font-family: 'Mohave', sans-serif;
	color: #f7d309;
	padding: .5rem;
}

.contain-accesorios div article:hover {
	background: linear-gradient(to top, #53c234ce, #061700ce);
}

/*----- Media Query pagina Accesorios -----*/

@media screen and (min-width: 768px) {

	.arnes-pecheras{
		grid-template-columns: 280px 280px;
		grid-template-rows: repeat(4, 370px);
	}
	
	.cadenas-collares{
		grid-template-columns: 280px 280px;
		grid-template-rows: repeat(3, 370px);
	}
	
	.bozales{
		grid-template-columns: 280px 280px;
		grid-template-rows: repeat(3, 370px);
	}
	
	.cadenas-sogas{
		grid-template-columns: 280px 280px;
		grid-template-rows: repeat(3, 370px);	
	}
	
	.pañuelos{
		grid-template-columns: 280px 280px;
		grid-template-rows: repeat(3, 370px);
		margin-bottom: 2rem;
	}

	.contain-accesorios article {
		padding: .5rem;
		margin: .5rem 1rem;
	}

	.contain-accesorios article h3{
		font-size: 1.5rem;
	}

}

@media screen and (min-width: 1024px) {

	.arnes-pecheras{
		grid-template-columns: repeat(3,280px);
		grid-template-rows: repeat(3, 370px);
	}
	
	.cadenas-collares{
		grid-template-columns: repeat(3,280px);
		grid-template-rows: repeat(2, 370px);
	}
	
	.bozales{
		grid-template-columns: repeat(3,280px);
		grid-template-rows: repeat(2, 370px);
	}
	
	.cadenas-sogas{
		grid-template-columns: repeat(3,280px);
		grid-template-rows: repeat(2, 370px);	
	}
	
	.pañuelos{
		grid-template-columns: repeat(3,290px);
		grid-template-rows: repeat(2, 370px);
		margin-bottom: 2rem;
	}

	.contain-accesorios article {
		padding: .5rem;
		margin: .5rem 1rem;
	}

	.contain-accesorios h2 {
		font-size: 2.5rem;
		font-weight: 700;
	}

}

/*----- Final de Estilos pagina Accesorios -----*/

/*----- Estilos pagina Juguetes -----*/
.juguetes-body {
	background-image: url(../fondos/huesos-yellow.png);
	background-size: contain;
}

.contain-juguetes{
	background-color: #44261757;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contain-juguetes img {
	width: 200px;
	height: 200px;
	border: solid 1px black;
}

.contain-juguetes h2 {
	text-align: center;
	font-family: 'Stick No Bills', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	color: #08180b;
	margin-top: 1.5rem;
	background-color: #f7df0c73;
	width: 100vw;
}

.juguetes-mordillos{
	display: grid;
	grid-template-columns: 250px;
	grid-template-rows: repeat(5, 400px);
}

.sogas-fuerza{
	display: grid;
	grid-template-columns: 250px;
	grid-template-rows: repeat(5, 400px);
}

.combos-huesos{
	display: grid;
	grid-template-columns: 250px;
	grid-template-rows: repeat(5, 400px);
}

.comederos{
	display: grid;
	grid-template-columns: 250px;
	grid-template-rows: repeat(5, 400px);
	margin-bottom: 1.5rem;
}

.contain-juguetes article {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	text-align: center;
	border: 2px solid #000000;
	padding: .5rem;
	margin: .5rem 0;
}

.contain-juguetes article p{
	font-family: 'Mohave', sans-serif;
	color: #ffffff;
}

.contain-juguetes article h3{
	font-family: 'Mohave', sans-serif;
	font-size: 1.5rem;
	color: #ffffff;
}

.contain-juguetes div article:hover{
	background: linear-gradient(to top, #ba8c02ce, #181818ce);
}

/*----- Media Query pagina Juguetes -----*/

@media screen and (min-width: 768px) {

	.juguetes-mordillos{
		grid-template-columns: 280px 280px;
		grid-template-rows: repeat(3, 400px);
	}
	
	.sogas-fuerza{
		grid-template-columns: 280px 280px;
		grid-template-rows: repeat(3, 400px);
	}
	
	.combos-huesos{
		grid-template-columns: 280px 280px;
		grid-template-rows: repeat(3, 400px);
	}
	
	.comederos{
		grid-template-columns: 280px 280px;
		grid-template-rows: repeat(3, 400px);	
	}
	
	.contain-juguetes h2{
		font-size: 2.5rem;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	.contain-juguetes article {
		padding: .5rem;
		margin: .5rem 1rem;
	}

	.contain-juguetes article h3{
		font-size: 1.5rem;
	}

}

@media screen and (min-width: 1024px) {

	.juguetes-mordillos{
		grid-template-columns: repeat(3,280px);
		grid-template-rows: repeat(2, 360px);
	}
	
	.sogas-fuerza{
		grid-template-columns: repeat(3,280px);
		grid-template-rows: repeat(2, 360px);
	}
	
	.combos-huesos{
		grid-template-columns: repeat(3,280px);
		grid-template-rows: repeat(2, 360px);
	}
	
	.comederos{
		grid-template-columns: repeat(3,280px);
		grid-template-rows: repeat(2, 380px);	
	}
	
	.contain-juguetes h2 {
		font-size: 2.5rem;
	}

}


/*----- Final Estilos pagina Juguetes -----*/