@import url("https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Aldrich&family=Stick+No+Bills:wght@500;600&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  text-align: center;
}

/*---- Utilities ----*/
.card, .card-juguetes, .card-accesorios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 240px;
}

/* ---- COLORES ---- */
/* ---- FONTS ---- */
/*---- Header/Nav ----*/
header {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  background: linear-gradient(to right, #000000, #434343);
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding: 0;
}

.h1-header {
  font-family: "Stardos Stencil", cursive;
  font-size: 2rem;
  color: #DFA72D;
  align-self: center;
  margin: 0.7rem 0;
  animation-name: brillo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@media screen and (min-width: 768px) {
  .h1-header {
    font-size: 2.5rem;
    align-self: flex-start;
    margin-left: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .h1-header {
    font-size: 3.2rem;
  }
}

@keyframes brillo {
  from {
    text-shadow: 0 0 10px #fff;
  }
  to {
    text-shadow: 0 0 40px #fff;
  }
}
.navbar {
  margin-top: 0.6rem;
  margin-right: 0.6rem;
  padding: 0;
  background-color: rgba(44, 21, 9, 0);
}
.navbar a {
  color: #DFA72D;
}
.navbar .active {
  padding: 0 5px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: rgba(73, 52, 5, 0.8156862745);
  position: relative;
  z-index: 10;
}
.navbar .active::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #fc4a1a, #f7b733);
  filter: blur(15px);
  z-index: 5;
}

.nav-link {
  padding: 0;
}

.navbar-nav .nav-link.active {
  color: #fff;
}

/*---- Index ----*/
.body-index {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.main-index {
  background-image: url(../fondos/madera-oscura.png);
  background-size: cover;
  background-attachment: fixed;
}

.section-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h2-section {
  color: #7C330F;
  font-family: "Stick No Bills", sans-serif;
  font-size: 2.2rem;
  text-align: center;
  margin: 1rem;
  text-shadow: 2px -2px 5px #f1db0c;
  transition-property: text-shadow;
  transition-duration: 1s;
  transition-delay: 0.5s;
}
.h2-section:hover {
  text-shadow: 10px -10px 5px #f1db0c;
}

.h3-article {
  color: #f1db0c;
  font-family: "Mohave", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  margin: 1rem 0;
}

.text-article {
  color: #d8d3b8;
}

.row {
  justify-content: center;
  align-items: flex-start;
}
.row img {
  width: 300px;
  box-shadow: 5px 5px 10px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .row img {
    width: 400px;
    margin-top: 1rem;
  }
}

.col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-12 p {
  margin-top: 1rem;
  padding: 0 0.8rem;
  font-family: "Mohave", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}
@media screen and (min-width: 1024px) {
  .col-12 p {
    margin-top: 0.8rem;
  }
}

.videos-index {
  width: auto;
  height: auto;
  background-image: url(../fondos/madera-barniz.png);
  background-size: cover;
}

.h2-videos {
  font-family: "Stick No Bills", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #f1db0c;
}
@media screen and (min-width: 468px) {
  .h2-videos {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .h2-videos {
    font-size: 2.5rem;
  }
}

.iframe {
  width: 300px;
  height: 168px;
}
@media screen and (min-width: 468px) {
  .iframe {
    width: 400px;
    height: 225px;
  }
}
@media screen and (min-width: 768px) {
  .iframe {
    width: 560px;
    height: 315px;
  }
}

/*---- Footer ----*/
footer {
  font-family: "Aldrich", sans-serif;
  font-size: 1rem;
  background: linear-gradient(to right, #000000, #434343);
}

.ul-footer a {
  color: #d8d3b8;
}
.ul-footer li {
  color: #d8d3b8;
}

.fa-instagram {
  color: #da1657;
  margin-right: 0.2rem;
}

.fa-facebook {
  color: #1375e6;
  margin-right: 0.2rem;
}

.fa-whatsapp {
  color: #0cc734;
  margin-right: 0.2rem;
}

.fa-email {
  color: #557da3;
  margin-right: 0.2rem;
}

/*---- Contacto ----*/
.contact-body {
  background-image: url(../fondos/pb-marron.png);
  background-size: cover;
  background-position: center;
}

.contact-main {
  background-color: rgba(44, 21, 9, 0.2941176471);
}

.form-control {
  background-color: rgba(44, 21, 9, 0.2941176471);
  border: none;
  color: #d8d3b8;
  font-family: "Mohave", sans-serif;
  font-size: 1.2rem;
}

.form-label {
  color: #f1db0c;
  font-family: "Stick No Bills", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-shadow: 2px -2px 5px #000000;
}

.form-text {
  color: #000000;
  font-size: 1rem;
}

.form-check-label {
  color: #f1db0c;
  font-family: "Stick No Bills", sans-serif;
  font-size: 1.2rem;
  text-shadow: 2px -2px 5px #000000;
}

.btn-primary {
  color: #f1db0c;
  background: linear-gradient(to bottom, #c31432, #240b36);
  width: 40%;
  border-color: #000000;
}

/*---- Nosotros ----*/
.nosotros-body {
  background-image: url(../fondos/cachorro-blue.png);
  background-size: cover;
}

.nosotros-section {
  background-color: rgba(44, 21, 9, 0.2941176471);
}

.nosotros-article {
  color: #d8d3b8;
}

.nosotros-article hr {
  width: 80%;
  animation-name: width;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes width {
  from {
    width: 10%;
  }
  to {
    width: 80%;
  }
}
/*---- Accesorios ----*/
.contain-accesorios {
  background-image: url(../fondos/madera-blanca.png);
  background-size: contain;
}
.contain-accesorios img {
  width: 200px;
  height: 200px;
  border: solid 1px #000000;
}
.contain-accesorios h2 {
  text-align: center;
  font-family: "Stick No Bills", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #7C330F;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  background-color: rgba(247, 223, 12, 0.4509803922);
  width: 100vw;
}
@media screen and (min-width: 1024px) {
  .contain-accesorios h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

.card-accesorios {
  background: linear-gradient(to top, #e4e4ce, #bea931);
}

.card-img-top {
  transform: scale(1);
  transition: 0.3s;
}
.card-img-top:hover {
  transform: scale(1.2);
}

/*---- Juguetes ----*/
.juguetes-body {
  background-image: url(../fondos/madera-gastada.png);
  background-size: contain;
}

.contain-juguetes img {
  width: 200px;
  height: 200px;
  border: solid 1px #000000;
}
.contain-juguetes h2 {
  text-align: center;
  font-family: "Stick No Bills", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #7C330F;
  margin-top: 1.5rem;
  background-color: rgba(242, 152, 74, 0.6862745098);
  width: 100vw;
}
@media screen and (min-width: 768px) {
  .contain-juguetes h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.card-juguetes {
  background: linear-gradient(to bottom, #f2994a, #eed896);
}

/*# sourceMappingURL=estilo.css.map */
