/* ---- COLORES ---- */

$clr-principal: #DFA72D;

$clr-secundario: #7C330F;

$clr-tercer: #f1db0c;

$back-dark: #201d1b94;

$white: #fff;

$black: #000000;

$clr-articles: #d8d3b8;


/* ---- FONTS ---- */

@import url("https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap");

$ff-stardos-h1: "Stardos Stencil", cursive;

@import url(https://fonts.googleapis.com/css2?family=Aldrich&family=Stick+No+Bills:wght@500;600&display=swap);

$ff-stick-h2: "Stick No Bills", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@400;500;600&display=swap");

$ff-mohave-p: "Mohave", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

$ff-aldrich-ft: 'Aldrich', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

$ff-rubik-nos: 'Rubik', sans-serif;

