/*---- Accesorios ----*/

.contain-accesorios{
	background-image: url(../fondos/madera-blanca.png);
	background-size: contain;
		
	img {
		width: 200px;
		height: 200px;
		border: solid 1px $black;
	}

	h2 {
		text-align: center;
		font-family: $ff-stick-h2;
		font-size: 2rem;
		font-weight: 700;
		color: $clr-secundario;
		margin-top: 1.5rem;
		margin-bottom: 1rem;
		background-color: #f7df0c73;
		width: 98vw;
		
		@include descktop-l {
			font-size: 2.5rem;
			font-weight: 700;
		}
	}
}

.card-accesorios {	
	@extend .card;

	background: linear-gradient(to top, #e4e4ce, #bea931);
	font-family: $ff-rubik-nos;
		
}

.card-img-top{
	transform: scale(1);
	transition: .3s;

	&:hover{
		transform: scale(1.2);
	}
}




