
.contain-accesorios{
	background-image: url(../fondos/madera-blanca.png);
	background-size: cover;
	background-attachment: fixed;	
}

.card{
	width: 240px;
	background: linear-gradient(to top, #a3a3a0, #9b9261);	
}

.card-img-top{
	transform: scale(1);
	transition: .3s;
}

.card-img-top:hover{
	transform: scale(1.2);
}

.contain-accesorios h2 {
	text-align: center;
	font-family: 'Stick No Bills', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	color: #7C330F;
	margin-top: 1.5rem;
	margin-bottom: 1rem;

    @include descktop-l {
        font-size: 2.5rem;
		font-weight: 700;
    }
}

.contain-accesorios img {
	width: 200px;
	height: 200px;
	border: solid 1px black;
}