
footer {
	font-family: 'Aldrich', sans-serif;
	font-size: 1rem;
	background: linear-gradient(to right, #000000, #434343);
}

.ul-footer a{
	color: #d8d3b8;
}

.ul-footer li{
	color: #d8d3b8;	
}

.fa-instagram{
	margin-right: .2rem;
	color: #da1657;
}
.fa-facebook{
	margin-right: .2rem;
	color: #1375e6;
}
.fa-whatsapp{
	color: #0cc734;
	margin-right: .2rem;
}

.fa-solid{
	margin-right: .2rem;
	color: #557da3;
}