
footer {
	font-family: $ff-aldrich-ft;
	font-size: 1rem;
	background: linear-gradient(to right, #000000, #434343);	
}

.ul-footer {
	a {
		color: $clr-articles;
	}

	li {
		color: $clr-articles;	
	}
}

.fa-instagram{
	margin-right: .2rem;
	color: $red-insta;
}
.fa-facebook{
	margin-right: .2rem;
	color: $red-face;
}
.fa-whatsapp{
	color: $red-wtapp;
	margin-right: .2rem;
}

.fa-solid{
	margin-right: .2rem;
	color: $red-mail;
}