/*---- Footer ----*/
footer {
	font-family: $ff-aldrich-ft;
	font-size: 1rem;
	background: linear-gradient(to right, #000000, #434343);	
}

.ul-footer {
	a {
		color: $clr-articles;		
		transition: .3s;

	&:hover{
		color: #f2984aaf;
	}
		
	}

	li {
		color: $clr-articles;	
	}
}

@each $icon-red, $color in $icons-color {
	.fa-#{$icon-red}{
		color: $color;
		margin-right: .2rem;

		transform: scale(1);
		transition: .3s;

	&:hover{
		transform: scale(1.2);
	}
	}
}

