/*---- Juguetes ----*/

.juguetes-body {
	background-image: url(../fondos/madera-gastada.png);
	background-size: contain;
}

.contain-juguetes {

	img {
		width: 200px;
		height: 200px;
		border: solid 1px $black;
	}

	h2 {
		text-align: center;
		font-family: $ff-stick-h2;
		font-size: 2rem;
		font-weight: 700;
		color: $clr-secundario;
		margin-top: 1.5rem;
		background-color: #f2984aaf;
		width: 98vw;

    	@include tablet-md {
        	font-size: 2.5rem;
			margin-top: 2rem;
			margin-bottom: 1rem;
    	}    
	}
}

.card-juguetes {
	@extend .card;

	background: linear-gradient(to bottom, #f2994a, #eed896);
	font-family: $ff-rubik-nos;
	
}